#menuToggle {
  background-color: white;
  padding: 0;
  height: 100%;
  width: 20%;
  border-right: #f1f1f1 solid 1px;
}

#menuToggle .tag_input, .tag_span {
  display: none;
}

.tag_nav {
  display: inline;
  margin-right: 10px;
  width: 20%;
}

.repon_account {
  display: none;
}

.tag_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100%;
  background-color: white;
  position: absolute;
  overflow: auto;
}

.device_manager i {
  font-size: 30px;
}

.hover_nactive {
  font-size: 20px;
}