#menuToggle {
  background-color: white;
  padding: 0;
  height: 100%;
  width: 20%;
  border-right: #f1f1f1 solid 1px;
}

#menuToggle .tag_input,
.tag_span {
  display: none;
}

.tag_nav {
  display: inline;
  margin-right: 10px;
  width: 20%;
}

.repon_account {
  display: none;
}

.tag_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100%;
  background-color: white;
  position: absolute;
  overflow: auto;
}

.device_manager i {
  font-size: 30px;
}

.hover_nactive {
  font-size: 20px;
}

.active {
  color: #00a8ff;
}

@media screen and (max-width: 414px) {

  .tag_ul {
      padding: 0;
      list-style-type: none;
  }

  .tag_a {
      text-decoration: none;
      color: #1E1E23;
      opacity: 1;
      font-family: 'work sans', sans serif;
      font-size: 1.5em;
      font-weight: 400;
      transition: 200ms;
  }

  .tag_a:hover {
      opacity: 0.5;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    width: min-content;
  }

  #menuToggle .tag_input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle .tag_span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #b2bec3;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  #menuToggle .tag_span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle .tag_span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle .tag_input:checked~.tag_span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }

  #menuToggle .tag_input:checked~.tag_span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle .tag_input:checked~.tag_span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 180px;
    height: 400px;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  #menu .tag_li {
    padding: 10px 0;
    transition-delay: 2s;
  }

  #menuToggle .tag_input:checked~.tag_ul {
    transform: none;
  }

  .device_manager {
    display: none;
  }

  .repon_account {
    display: block;
  }

  .repon_account .tag_i {
    font-size: 30px;
    margin-left: 40%;
  }

  .repon_account .tag_a {
    clear: both;
    text-align: center;
  }

}