.tag_button {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 100%;
    background-color: #00a8ff;
    color: white;
    margin-left: 5px;
    border: #f1f1f1 1px solid;    
}

.tag_button:hover {
    background-color: white;
    color: black;
}

.page_active {
    background-color: white;
    color: black;
}