#tb {
    border-top: #f1f1f1 solid 1px;
    border-right: #f1f1f1 solid 1px;
    border-left: #f1f1f1 solid 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    width: 100%;
    text-align: center;
}

.tag_th {
    border-bottom: #f1f1f1 solid 2px;
    height: 50px;
}

.tag_td {
    border-bottom: #f1f1f1 solid 1px;
    height: 50px;
}

.tag_tr:hover {
    background-color: #60a3bc;
}

.tr_h:hover {
    background-color: white;
}

.total {
    background-color: #c8d6e5;
}